.jirayut{
    background-color: aqua;
    display: flex;
}
table{
    border: 1px solid #006d21;
    border-collapse: collapse;

}
th{border: 1px solid #006d21;
    border-collapse: collapse;


}
td{border: 1px solid #006d21;
    border-collapse: collapse;


}
.ice{
    color: blue;
    background-color: burlywood;
    display: grid;
}
.joy{
    color: blueviolet;
    background-color: rgb(1, 0, 73);
    display: run-in;
}
.nig{
    background-color: azure;
    color: midnightblue;
    display: flex;
}
